[class*="col-"] {
            width: 100%;
            }
            @media only screen and (min-width: 768px) {
            [class*="col-"] {
            float: left;
            padding: 15px;
            }            
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
          }
.content {
  display: flex;
}
body{
  background-color: bisque;
}
.woonplaats {
color: white;
font-family: 'Redressed', cursive;
font-size: 75px;
font-weight: bold;
text-align: center;
position: relative;
}
header {
  background-color: brown;
  width: 100%;
  height: 200px;
  background-image: url("wolken_boven_de_huizen.jpg"); 
  background-repeat: repeat-x;
  opacity: 85%;
}

ul{
  list-style: none;
  background-color: beige;
  width: 100%;
  padding: 10px 20px 10px 10px ;
}
ul li{
  background-color: azure;
  width: 100%;
  height: 150px;
  padding-right: 3px;
  margin: 3px;
}
.links1, .links2{
  background-color:rgb(229, 210, 185);
  width: 100%;
  display: inline-block;
  margin: 3px;
}
.afbeelding_links{
  float: right;
  margin: 5px;
}@media only screen and (max-width: 768px) {
.afbeelding_links{
  width: 95%;
}
}
footer{
  background-color: brown;
  color: bisque;
  width: 100%;
  height: 40px;
  display: inline-block;
}
#footertekst {
  font-family: 'Redressed', cursive;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
